body{
    margin: 0;
    padding:0;

}

@font-face {
    font-family: 'coolvetica';
    src: url('./font/coolvetica/coolvetica\ rg.otf')


}

@font-face {
    font-family: 'skeira';
    src: url('./font/skeina/Skeina.otf');
}

header{
    height: 250px;
    width: 100%;
    background-color: #81A969;
}

main{

    height: 1200px;
    width: 100%;
    background-color: rgb(202, 202, 202);
    margin-bottom: 0;

}

#logo{
    height: 180px;
    width: 180px;
    padding-left: 200px;
    padding-bottom: 20px;
    margin-top: 20px;
}

img{

    width: 400px;
    height: 250px;
    padding-left: 50px;



}

#titulologo{
    margin-top: -130px;
    margin-left: 470px;
    font-size: 50px;
    font-family: 'skeira';
    
}

#tituloprat{
    font-size: 20px;
    text-align:justify;
    color: black;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'coolvetica';
    margin-top: 0;
}

video{


    width: 60%;
    height: 400px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 60px;
    


}



#contatofooter{

    font-size: 20px;
    text-align:justify;
    color: black;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'coolvetica';



}


h2{
    font-size: 20px;
    text-align:justify;
    color: black;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'coolvetica';


}

.txtco2{

    font-size: 15px;
    text-align:justify;
    color: black;
    padding-top: 1px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'coolvetica';


}

footer{
    width: 100%;
    height: 260px;
    background-color: #81A969;
    



}




.materiais{
    font-size: 15px;
    text-align:justify;
    color: black;
    padding-top: 1px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'coolvetica';

}



.nomedesenvolvedores{

    padding-left: 40px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   font-size: 15px;
    font-family: 'coolvetica';

}

#desenvolvedoresfooter{

    padding-left: 40px;
    font-family: 'coolvetica';
    font-size: 20px;
    padding-top: 10px;}



#contatofooter{

    padding-left: 250px;
    font-family: 'coolvetica';
    font-size: 20px; }



.ig{
padding-left: 250px;
text-align: justify;
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 15px;
font-family: 'coolvetica';
padding-bottom: 1px;
margin-bottom: 5px; }