body{
    margin: 0;
    padding:0;

}

@font-face {
    font-family: 'coolvetica';
    src: url('./font/coolvetica/coolvetica\ rg.otf');
}


@font-face {
    font-family: 'skeira';
    src: url('./font/skeina/Skeina.otf');
}


header{
    height: 220px;
    width: 100%;
    background-color: #81A969;
    
    


}



#referenciasfooter{
 
    padding-left: 25px;
    font-family: 'coolvetica';
    font-size: 20px;

}


#contatofooter{

    padding-left: 25px;
    font-family: 'coolvetica';
    font-size: 20px;



}


#txtcoluna{
    background-color: #4b643e;
}





#coluna{
    background-color: #4b643e;
}


#logo{
    height: 180px;
    width: 180px;
    padding-left: 200px;
    padding-bottom: 20px;
    margin-top: 20px;

}

h1{
    margin-top: -130px;
    margin-left: 470px;
    font-size: 50px;
    font-family: 'skeira';
    
}

main{
    height: 650px;
    width: 100%;
    background-color:rgb(202, 202, 202);
    
}

#prat1{
    background-color: white;
    height: 200px;
    width: 200px;
    margin-left: 100px;
    box-shadow: 1px 1px 1px;
}


#prat2{
    box-shadow: 1px 1px 1px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin-left: 400px;
    margin-top: -220px;
}

#prat3{
    box-shadow: 1px 1px 1px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin-left: 700px;
    margin-top: -220px;
}

#prat4{
    box-shadow: 1px 1px 1px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin-left: 1000px;
    margin-top: -220px;
}

#prat5{
    box-shadow: 1px 1px 1px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin-left: 100px;
}

#prat6{
    box-shadow: 1px 1px 1px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin-left: 400px;
    margin-top: -220px;
}

#prat7{
    box-shadow: 1px 1px 1px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin-left: 700px;
    margin-top: -220px;
}

#prat8{
    box-shadow: 1px 1px 1px;
    background-color: white;
    height: 200px;
    width: 200px;
    margin-left: 1000px;
    margin-top: -220px;
}

.botao1{
    margin-top: 100px;
    margin-left: 65px;
    font-family: 'coolvetica';
    border-radius: 80px;
    text-decoration: none;
    background-color: #81A969;
}

#botao7{
    margin-top: 55px;
    margin-left: 65px;
    font-family: 'coolvetica';
    border-radius: 80px;
    background-color: #81A969;
}

#botao8{
    margin-top: 102px;
    margin-left: 65px;
    font-family: 'coolvetica';
    border-radius: 80px;
    background-color: #81A969;
}

a{
    text-decoration: none;
}

#nomebotao{
    color: black;
}

#textointrodução{

    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:justify;
    color: black;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'coolvetica';

}

.t8{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    padding-top: 8px;
    font-family: 'coolvetica';
}



footer{

    width: 100%;
    height: 230px;
    background-color:#81A969;

}


.ig{
padding-left: 18px;
text-align: justify;
font-family: Arial, Helvetica, sans-serif;
color: black;
font-size: 15px;
font-family: 'coolvetica';
}

.igajuda{

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    padding-left: 950px;
    margin-top: -30px;
    font-family: 'coolvetica';

}

.igreferencias{

    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 20px;
    padding-left: 170px;
    margin: 0;
    font-family: 'coolvetica';


}

#referencias{
    margin-left: 10px ;
    margin-right: 1030px;
    font-family: 'coolvetica';
}
.caixa{
    width: 33%;
    height: 150px;
    display: block;
    float: left;
}


