header{
    height: 250px;
    width: 100%;
    background-color: rgb(140, 191, 63);
}

#logo{
    margin-left: 600px;
}

main{
    height: 800px;
    width: 100%;
    background-color: gainsboro;
}

#prat.1

















footer{
    height: 300px;
    width: 100%;
    background-color: rgb(146, 196, 71);
}